@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: azure;
    font-family: "Outfit", sans-serif;
}
.header{
    background-color:   #0c0c18;
    width: 1440px;
    height: 64px;
    margin: 0 auto;

}
.nav{
    width:1,441px;
height:  64px;
padding: 20px 40px;
display: flex;
justify-content:  center;
align-items: center;
gap: 650px;
}
.nav ul{
    display: flex;
}
.main{
    background-color: #1f1f36;
    width: 1440px;
    height: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;

}
.nav2{
    width: 1440px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 700px;
    background-color: #0c0c18;
    margin: 0 auto;
}
.nav2 ul{
    display: flex;
    gap: 30px;
}
.card{
    padding: 90px 30px;
    width: 325px;
    height: 240px;
    background-color: #232028;
    border-radius: 30px;
    text-align: center;
}
.card p{
    width: 265px;
    font-size: 14px;
    font-weight: 400;
}
.gojo{
    position: relative;
    top: 80px ;
    left: 40px;
}
.bt{
    background-color: #BFAFF2;
    width: 175px;
height: 50px;
border-radius: 15px;
border: 1px solid #BFAFF2;
}

.bt:hover{
    background-color: #9477f5;
    width: 175px;
height: 50px;
border-radius: 15px;
border: 1px solid #9477f5;
}

.next{
    display: flex;
    align-items: center;
    gap: 30px;
}
.nav ul li{
 font-size: 18px;
 font-weight: 400;
}
.nav ul li ul {
    width: 99px;
height: 111px;
border-radius: 10px;
box-shadow: 0px 0px 11px 0px #FFFFFF;

}